.load-hidden {
    opacity: 0;
    transition: all 0.3s ease;
}

/* disable scroll reveal for IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    .load-hidden {
        opacity: 1;
    }
}

.reveal {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.associates__item {
    transform: scale(0.5);
}


/* reveal container sequentially */
.revealContainer {
    opacity: 0;
}

.revealContainer:not(#welcome) {
    transform: scale(0.8);
}

@keyframes revealSequence { 
	100% { 
        opacity: 1;
        transform: scale(1);
    }
}
.revealContainer {animation: revealSequence .4s forwards;}
.revealContainer:nth-child(1) { animation-delay: 0.0s;}
.revealContainer:nth-child(2) { animation-delay: 0.35s;}
.revealContainer:nth-child(3) { animation-delay: 0.4s;}
.revealContainer:nth-child(4) { animation-delay: 0.6s;}
.revealContainer:nth-child(5) { animation-delay: 0.8s;}
.revealContainer:nth-child(6) { animation-delay: 1.0s;}
.revealContainer:nth-child(7) { animation-delay: 1.2s;}

.icon-href__reveal {
    opacity: 0;
    transform: scale(0.8);
    animation: revealSequence .4s forwards;
}
.icon-href__reveal:nth-child(1) { animation-delay: 0.11s;}
.icon-href__reveal:nth-child(2) { animation-delay: 0.15s;}
.icon-href__reveal:nth-child(3) { animation-delay: 0.19s;}
.icon-href__reveal:nth-child(4) { animation-delay: 0.23s;}
.icon-href__reveal:nth-child(5) { animation-delay: 0.27s;}
.icon-href__reveal:nth-child(6) { animation-delay: 0.31s;}