body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body.dark {
    background-color: #192024;
    color: #fff;
}

::selection      { background: #b3c0ce88; /* WebKit/Blink Browsers */ }
::-moz-selection { background: #b3c0ce88; /* Gecko Browsers */ }

:root {
    --top-bar-height: 30px;
    --top-bar-padding: 10px;
    --side-bar-width: 200px;
    --side-bar-padding: 10px;
    --container-margin: 10px;
    --footer-padding: 10px;
    --section-padding: 15px;
    --section-border-radius: 10px;
}

.newTab {
    display: inline-block; 
    position: absolute; /* parent need to be relative */
    top: 5px; 
    right: 5px; 
    background-image: url('img/newTab.svg'); 
    height: 15px; 
    width: 15px;
}
body.dark .newTab {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}
.copyPaste {
    display: inline-block; 
    position: absolute; /* parent need to be relative */
    right: 8px; 
    top: 8px;
    background-image: url('img/copyPaste.svg'); 
    background-size: cover;
    height: 38px;
    width: 38px; 
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: #EBEBEB;
    background-size: 38px;
    border-radius: 5px;
}
body.dark .copyPaste {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    background-color: #C7C4BE;
}
.copyPaste.clicked {
    animation: copyPasteSliderAnimation 1s normal forwards;
}
@keyframes copyPasteSliderAnimation {
    0%, 100% {
        width: 38px; 
        background-position-x: 0;
    }
    10%, 85% {
        width: 102px; 
        background-position-x: 64px;
    }
}
.copiedPopup {
    display: inline-block;
    position: absolute;
    right: 48px;
    top: 17px;
    cursor: default;
    opacity: 0;
    pointer-events: none;
}
.copyPaste.clicked + .copiedPopup {
    animation: copyPasteWordAnimation 1s normal forwards;
}
@keyframes copyPasteWordAnimation {
    0%, 100% {
        opacity: 0;
    }
    10%, 85% {
        opacity: 1;
    }
}

.bigEmoji {
    font-size: 4rem;
}
.comingSoon {
    background-color: rgb(255, 181, 84);
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}

a {text-decoration: none; color: inherit;}
.gfm-embed {
    max-width: 480px; 
    margin: 0 auto;
}

.navButton {
    color: black;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s ease all;
    margin-bottom: 5px;
}
body.dark .navButton {
    color: #fff;
}

.navButton:hover {
    background-color: #D3E0EA;
}
body.dark .navButton:hover {
    background-color: #4d575e;
}

.navButton.active {
    background-color: #d3e0ea77;
}
body.dark .navButton.active {
    background-color: #4d575e77;
}

.navButton:hover.active {
    background-color: #D3E0EA;
}
body.dark .navButton:hover.active {
    background-color: #4d575e;
}

.navButton.inactiveButton {
    cursor: default;
}

#footer__needSupport {
    margin-bottom: 20px;
    padding: 5px;
    background-image: url('img/chatBoxes.svg');
    background-size: 80px;
    display: inline-block;
    width: 130px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s ease all;
}
#footer__needSupport__container {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 5px 0;
    transition: 0.3s ease all;
}
#footer__needSupport:hover {
    background-position-y: 42px;
    background-position-x: -21px;
}
#footer__needSupport:hover #footer__needSupport__container {
    background-color: rgba(102, 51, 60, 0.9);
}

#darkThemeToggle {
    background-color: #ddd;
    color: #555;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 120px;
    transition: 0.2s ease all;
}
#darkThemeToggle:hover {
    background-color: #ccc;
}
body.dark #darkThemeToggle {
    background-color: #ccc;
}
body.dark #darkThemeToggle:hover {
    background-color: #ddd;
}

span.highlight {
    background-color: #7893;
    padding: 1px 3px 3px 3px;
    display: inline-block;
}
body.dark span.highlight {
    background-color: rgba(170, 187, 204, 0.2);
}

.bg-orange {
    background-color: rgba(247, 162, 105, 0.4) !important;
}
body.dark .bg-orange {
    background-color: rgba(255, 162, 105, 0.8) !important;
}
.bg-red {
    background-color: rgba(247, 105, 105, 0.4) !important;
}
body.dark .bg-red {
    background-color: rgba(255, 102, 105, 0.8) !important;
}
.bg-blue {
    background-color: rgba(105, 178, 255, 0.4) !important;
}
body.dark .bg-blue {
    background-color: rgba(105, 178, 255, 0.8) !important;
}

#topBar {
    position: fixed;
    display: none;
    z-index: 9;
    top: 0;
    left: calc(var(--side-bar-width) + 2*var(--side-bar-padding));
    right: 0;
    height: var(--top-bar-height);
    padding: var(--top-bar-padding);
    background-color: #fff8;
    border-bottom: 1px solid #e8e8e8;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
body.dark #topBar {
    background-color: #2A2E35aa;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid #2A2E35aa;
    box-shadow: 0 0 5px #000a;
}

#sideBarButton {
    background: rgb(63, 67, 85);
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 13px 15px;
    display: none;
    cursor: pointer;
}
#sideBarButton:hover {
    background: rgba(63, 67, 85, 0.9);
}

#topBar__logo {
    display: none;
    background-image: url("img/RawTalkLogo.svg");
    background-repeat: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(var(--top-bar-height) + 2*var(--top-bar-padding));
}

#sideBar {
    padding: var(--side-bar-padding);
    z-index: 11;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    width: var(--side-bar-width);
    transition: 0.2s ease all;
}
body.dark #sideBar {
    background-color: #2A2E35;
}

#footer {
    color: #333;
    bottom: 0;
    left: 0;
    position: absolute;
    width: calc(100% - 2 * var(--footer-padding));
    padding: var(--footer-padding);
    text-align: center;
}
body.dark #footer {
    color: #ccc;
}

#container {
    background-color: #F7F7FA;
    margin: var(--container-margin);
    margin-left: calc(var(--side-bar-width) + 2*var(--side-bar-padding));
    padding: 10px;
    border-radius: 8px;    
    top: 0;
    position: relative;
}
body.dark #container {
    background-color: #192024;
}

#container__container {
    max-width: 1100px;
    margin: 0 auto;
}

#modalCover {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    pointer-events: none;
}

#modalCover.show {
    display: block;
    pointer-events: all;
}

.sectionHeader {
    font-size: 1.6rem;
    padding: 15px;
    color: #276678;
    font-weight: 700;
}
body.dark .sectionHeader {
    color: #f3f3f3;
}

.sectionHeaderButton {
    font-size: 1rem; 
    position: absolute; /* parent must be relative position */
    right: 0; 
    top: 0; 
    background-color: rgba(150,150,150,0.2); 
    padding: 5px 10px;
    transition: 0.2s ease all;
}
.sectionHeaderButton:hover {
    background-color: rgba(150,150,150,0.4); 
}

.section {
    background-color: #fff;
    box-shadow: 0px 2px 3px #2242;
    margin-bottom: 50px;
    padding: var(--section-padding);
    border-radius: var(--section-border-radius);
    font-size: 1.1rem;
}
body.dark .section {
    background-color: #2A2E35;
    box-shadow: 0px 2px 3px #0006;
}

.section .sectionHeader {
    padding-top: 0;
    padding-left: 0;
}

.icon {
    height: 40px;
}
body.dark .icon {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}

.icon-href {
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    transition: 0.2s all ease;
    text-align: center;
    /* border: 2px dashed rgba(0,0,0,0); */
}

.icon-href:hover {
    background-color: rgba(171, 213, 230, 0.301);
    /* border: 2px dashed #30475e5f; */
}

.section--iconText {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: var(--section-padding);
    padding: 0;
}

.section__icon {
    height: 100%;
    border-radius: var(--section-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 4;
}

.section__textGroup {
    padding: var(--section-padding);
    padding-left: 0;
}

.hoverFill {
    background-color: rgba(255, 74, 74, 0.151);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 0%;
    height: 100%;
    transition: 0.35s ease all;
    border-radius: var(--section-border-radius);
}
body.dark .hoverFill {
    background-color: rgba(255, 200, 200, 0.05);
}

.hoverFill--blue {
    background-color: rgba(74, 213, 255, 0.151);
}
body.dark .hoverFill--blue {
    background-color: rgba(74, 213, 255, 0.05);
}

.hoverFillParent:hover .hoverFill {
    width: 100%;
}

.section__date {
    background-color: #19be6e;
    display: inline-block;
    color: #fff;
    padding: 3px 9px;
    border-radius: 4px;
    font-size: 17px;
    position: relative;
    top: -3px;
    left: 3px;
}

.section__textGroup {
    padding: var(--section-padding);
    padding-left: 0;
}

.post__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.post__tag {
    background: rgba(88, 90, 92, 0.5);
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
}

/* @media (max-width: 750px) { */
@media (max-width: 900px) {
    #sideBar {
        left: calc(-1 * var(--side-bar-width) - 2*var(--side-bar-padding));
    }
    #sideBar.show {
        left: 0;
    }

    #topBar {
        left: 0;
        display: block;
    }

    #sideBarButton {
        display: inline-block;
    }

    #topBar__logo {
        display: inline-block;
    }

    #container {
        margin: 0;
        top: calc( var(--top-bar-height) + 2*var(--top-bar-padding));
        border-radius: 0;
    }

    .section--iconText {
        grid-template-columns: 70px 1fr;
    }
}

.giant {
    font-size: 48px !important;
    text-align: center;
    margin-bottom: 20px;
}